.telegram-container {
  max-width: 1140px; /* Maksimal kenglik 1140px */
  width: 100%; /* Kenglik 100% ga o'rnatilgan */
  position: fixed;
  bottom: 10px;
  left: 0; /* Ekran chap tomoniga joylashadi */
  text-align: end;
  display: flex;
  justify-content: flex-start; /* Ekran chap tomonida joylashtiradi */
}

.telegram-button {
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.telegram-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

@media (max-width: 1100px) {
  .telegram-button {
    padding: 10px 18px;
    font-size: 17px;
  }

  .telegram-icon {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 1000px) {
  .telegram-container {
    max-width: 1000px;
  }
}

@media (max-width: 900px) {
  .telegram-container {
    max-width: 900px;
  }
}

@media (max-width: 800px) {
  .telegram-container {
    max-width: 800px;
  }
}

@media (max-width: 700px) {
  .telegram-container {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .telegram-container {
    max-width: 600px;
  }
}

@media (max-width: 500px) {
  .telegram-container {
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .telegram-container {
    max-width: 400px;
  }
}
